/.idea
*.iml
/target
*.class
.*.swp
model.zenta.bak
model.compiled
model.consistency.stderr
model.consistencycheck
model.docbook
model.html
model.objlist
model.objlist.html
model.pdf
model.pics/
model.rich
model.richescape
model.tabled.docbook
model.tabled.html
/model/
issuesReport.json
/build/
/inputs
javabuild
shippable/
model.interfaces
model.stubs
model.testdata
runapache
model.zenta
modelparts/metamodel/
